<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t(:one_c7_connector) %></h1>

<% form_tag admin_one_c7_connector_path, :multipart => true do %>
    <p class="form-buttons">
        <%= button t(:import) %>
    </p>
<% end %>
